div#screensaver{
    width:100%;
    height:100%;
    display: none;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html{
    background-color: black;
}